@CHARSET "ISO-8859-1";
table.overview {
	margin-left:auto; 
    margin-right:auto;
}

table.overview td {
	width:200px;
}

img {
	width:80px; 
	height:80px;	
}

img.interval {
	width:90px; 
	height:30px;	
}

img.transparent{
	opacity:0.4;
}
 
font.transparent{
	opacity:0.4;
}

form-control {
	width:10px !important; 
	
}